.About {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.About__content {
  border: 1px solid #000;
  background: #fff;
  max-width: 700px;
  z-index: 10000;
}

.About__inner {
  border-left: 24px solid #000;
  background: #fff;
  z-index: 10000;
}

.About__intro {
  font-size: 1.4em;
  padding: 1em 1.4em;
}

.About__footer {
  padding: 1.4em;
  text-align: right;
  opacity: 0.5;
  font-size: 0.8em;
}

.About__title { 
  display: block;
  margin: 0 0 .4em;
  font-size: 1.1em;
  font-weight: bold;
  line-height: 140%;
}

.About__questionsInner {
}

.About__questions {
  padding: 0 1.4em;
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
  overflow: hidden;
  overflow-y: scroll;
  height: 500px;
}

.About__question:first-child {
  margin-top: 1.4em;
}

.About__question {
  margin: 0 0 1.4em;
  break-inside: avoid;
  border: 1px solid #000;
  border-radius: 4px;
  padding: 1em;
}

.About__question.is-more {
  background: lightyellow;
}


.About__inner.is-0 { border-color: #F2994A; } 
.About__inner.is-1 { border-color: #6FCF97; } 
.About__inner.is-2 { border-color: #27AE60; } 
.About__inner.is-3 { border-color: #2F80ED; } 
.About__inner.is-4 { border-color: #2D9CDB; } 
.About__inner.is-5 { border-color: #56CCF2; } 
.About__inner.is-6 { border-color: #EB5757; } 
.About__inner.is-7 { border-color: #BB6BD9; } 
.About__inner.is-8 { border-color: #9B51E0; } 
.About__inner.is-9 { border-color: #F2C94C; } 
.About__inner.is-10 { border-color: #FFEB3B; } 

.About__innerContent {
  border-left: 1px solid #000;
}

