.About {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.About__content {
  border: 1px solid #000;
  background: #fff;
  max-width: 780px;
  z-index: 10000;
}

.About__inner {
  border-left: 24px solid #000;
  background: #fff;
  z-index: 10000;
}

.About__intro {
  font-size: 1.4em;
  margin: 0 0 1.4em;
}

.About__innerContent {
  padding: 1.4em;
}

.About__footer {
  text-align: right;
  opacity: 0.5;
  font-size: 0.8em;
}

.About__title { 
  display: block;
  margin: 0 0 .4em;
  font-size: 1.1em;
  font-weight: bold;
  line-height: 140%;
}
.About__questions {
  margin: 0 0 1em 0;
  column-count: 2;
}
.About__question {
  margin: 0 0 1.8em;
  break-inside: avoid;
}


.About__question:last-child {
  margin: 0;
}

.About__more {
  background: lightyellow;
  border: 1px solid #000;
  padding: 1em;
  margin: 0 0 1em;
  border-radius: 4px;
}
