.Books {
  display: grid;
  margin: 8em auto; 
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(auto-fill, 200px);
  grid-gap: 32px;
}

@media only screen and (max-width: 1700px) {
  .Books {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (max-width: 1380px) {
  .Books {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 1000px) {
  .Books {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 700px) {
  .Books {
    grid-template-columns: repeat(1, 1fr);
  }
}

.Book {
  width: 300px;
  height: 200px;
  border: none;
}

.Book__shadow {
  position: absolute;
  left: 0;
  background: #000;
  opacity: 0.05;
  height: 50%;
  bottom: 0;
  width: 100%;
  border-radius: 2px;
}

.Book__inner {
  position: relative;
  border: 1px solid #000;
  background: #fff;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  transition: all 250ms ease-in-out;
  box-shadow: 0 8px 8px rgba(0,0,0,0);
  z-index: 1;
}

.Book.is-selected .Book__inner,
.Book:hover .Book__inner {
  transform: translateY(-20px);
  box-shadow: 0 10px 10px rgba(0,0,0,.2);
}

.Book__content {
  padding: 1em;
  border-left: 20px solid #000;
  height: 100%;
  font-family:var(--sans-font);
}

.Book__title {
  font-weight: bold;
  margin: 0 0 0.4em;
  word-break: break-word;
}

.Book__source {
  font-weight: normal;
}

.Book__count {
  position: absolute;
  bottom: 3em;
  right: 1em;
  opacity: 0.5;
  font-size: .8em;
  background: #f0f0f0;
  border-radius: 100px;
  padding: 0.4em 0.8em;
}



.Book__pages {
  bottom: 0;
  background: #fff;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.Book__pages {
  position: absolute;
}

.Book__page {
  position: relative;
  width: 100%;
  height: 2px;
  margin-bottom: 2px;
  border-top: 1px solid #000;
}

.Books__infoInner {
  /* background: rgba(#000, 0.1); */
  border: 2px solid rgba(#000, .1);
  color: rgba(#000, .8);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 800px;
  padding: .8em 1em;
  font-size: 1.4em;
  pointer-events: none;
  user-select: none;
  transition: all 250ms ease-in-out;
}

.Books__info {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 250ms ease-in-out;
}


.Books__info.is-small {
  position: absolute;
  top: 1em;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 250ms ease-in-out;
}

.Books__info.is-small .Books__infoInner {
  padding: 0.4em 1em;
  font-size: 0.8em;
  opacity: 0.5;
  font-weight: 400;
}
