.Navigation {
  position: fixed;
  top: 2em;
  right: 2em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 1000;
}

.Navigation__actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.Navigation__actions > * {
  margin: 0 0 0 0.8em;
}


.Navigation .Button {
  padding: 0.4em 1em;
  text-decoration: none;
  background: #fff;
}
