.Notification {
  position: fixed;
  top: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.Notification__message {
  background: #000;
  color: #fff;
  padding: 0.4em 0.8em;
  border-radius: 4px;
  font-size: 0.9em;
}

.Notification__message a {
  color: #fff;
  font-weight: bold;
}

.Notification__message strong {
  font-weight: bold;
}
