.Snippet.is-selected {
  border-left: 12px solid #000;
}

.Snippet__footerRight {
  position: absolute;
  right: 20px;
}

.Snippet__footerLeft {
  position: absolute;
  display: flex;
  left: 20px;
}

.Snippet__revert, .Snippet__action {
  border: 1px solid #000;
  color: #000;
}

.Snippet__revert:hover, .Snippet__action:hover {
  background: #000;
  color: #fff;
}

.Snippet .Snippet__action {
  display: none;
  visibility: hidden;
  opacity: 0;
  transition: all 150ms ease-in-out;
  border-radius: 100px;
  padding: 2px 16px;
  font-size: 0.8em;
  font-weight: bold;
  margin: 0 4px 0 0;
}

.Snippet__revert {
  border: 1px solid #000;
  border-radius: 100px;
  padding: 2px 16px;
  font-size: 0.8em;
  font-weight: bold;
  margin: 0 4px 0 0;
  text-decoration: none;
}

.Snippet:hover .Snippet__action {
  display: block;
  visibility: visible;
  opacity: 1;
}

.Snippet {
  transition: border 120ms ease-in-out, background 120ms ease-in-out;
  background: #fff;
  border: 1px solid #000;
  margin: 0 0 1em;
  width: 100%;
  position: relative;
  border-radius: 4px;
  cursor: pointer;
}

.Snippet.is-note {
  font-style: italic;
}

.Snippet__content {
  margin: 1em;
  padding: 0.4em;
  transition: background 150ms ease-in-out;
  border-radius: 2px;
}

.Snippet__content:focus {
  outline: none;
}

.Snippet__content:hover {
  outline: none;
  cursor: text;
  background: rgba(0,0,0, 0.05);
}

.Clippings__snippets .Snippet:last-child {
  margin: 0 0 60px;
}

.Snippet__footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.6em 1em 1.6em;
  font-size: 0.9em;
  height: 40px;
}

.Snippet__datetime {
  opacity: 0.5;
}

